@{
	ViewBag.Title = "Home Page";
	ViewBag.DevWebUrl = "https://YOUR-TENANT.sharepoint.com/sites/dev";
}

<div class="row">
	<blockquote>
		<p>
			Register App: <a href="@ViewBag.DevWebUrl/_layouts/15/Appregnew.aspx">@ViewBag.DevWebUrl/_layouts/15/Appregnew.aspx</a>
		</p>
		<p>
			App Principals: <a href="@ViewBag.DevWebUrl/_layouts/15/AppPrincipals.aspx">@ViewBag.DevWebUrl/_layouts/15/AppPrincipals.aspx</a>
		</p>
		<p>
			App Permissions: <a href="@ViewBag.DevWebUrl  />_layouts/15/Appinv.aspx">@ViewBag.DevWebUrl/_layouts/15/Appinv.aspx</a>
		</p>
		<p>
			<s>After register, save ClientID and ClientSecret in web.config</s>
		</p>
	</blockquote>
	<div class="oAuthInputs">
		<div>
			Authorize Url<br />
			<textarea id="manualAuthUrl" class="form-control">@ViewBag.DevWebUrl/_layouts/15/oauthauthorize.aspx</textarea>
		</div>
		<div>
			Redirect Url<br />
			<textarea id="manualRedirectUrl" class="form-control">@Request.Url.GetLeftPart(UriPartial.Authority)/Home/RedirectSuccess</textarea>
		</div>
		<div>
			Grant Type:<br/>
			<select id="manualGrantType" class="form-control">
				<option selected="selected" value="code">code</option>
				<option disabled="disabled" value="authorization_code">authorization_code</option>
				<option disabled="disabled" value="refresh_token">refresh_token</option>
			</select>
		</div>
		<div>
			Client ID<br />
			<input type="text" id="manualClientId" class="form-control" />
		</div>
		<div>
			Rights/Scopes<br/>
			<input type="text" id="manualRights" value="Web.Manage" class="form-control" />
		</div>
		<div>
			<input type="button" id="authorizeButton" class=" btn btn-primary" value="Authorize!" />
		</div>
	</div>
</div>

@section scripts
{
	<script type="text/javascript">
		$(function() {
			$('#authorizeButton').on('click', function (evnt) {
				evnt.preventDefault();

				var authUrlText = $('#manualAuthUrl').val();
				var redirectUrlText = $('#manualRedirectUrl').val();
				var clientIdText = $('#manualClientId').val();
				var grantTypeText = $('#manualGrantType').val();
				var rightsText = $('#manualRights').val();

				var url = authUrlText + '?client_id=' + clientIdText +
					'&scope=' + rightsText +
					'&response_type=' + grantTypeText +
					'&redirect_uri=' + encodeURIComponent(redirectUrlText);

				window.location = url;
			});
		});
	</script>
}
