@using ManualOAuthApp.Models
@{
	ViewBag.Title = "RedirectSuccess";
	var redirectUri = Request.Url.GetLeftPart(UriPartial.Authority) + "/Home/RedirectAuthorization";
	var tenant = O365Config.Tenant;
	var tokenUrl = O365Config.TokenEndPointUrl;
}

<h2>Redirect Success</h2>

<div class="row">
	<b>Error</b> @ViewBag.OAuthResultError<br />
	<b>Error Descrtipion</b> @ViewBag.OAuthResultErrorDescription<br />
	<b>Code</b> @ViewBag.OAuthResultCode
</div>

<div class="row">
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		<div class="oAuthInputs">
			<div>
				Authorization code<br />
				<textarea id="manualAuthCode" name="manualAuthCode" class="form-control">@ViewBag.OAuthResultCode</textarea>
			</div>
			<div>
				Grant Type:<br />
				<select id="manualGrantType" name="manualGrantType" class="form-control">
					<option disabled="disabled" value="code">code</option>
					<option selected="selected" value="authorization_code">authorization_code</option>
					<option disabled="disabled" value="refresh_token">refresh_token</option>
				</select>
			</div>
			<div>
				Client ID<br />
				<input type="text" id="manualClientId" name="manualClientId" class="form-control" />
			</div>
			<div>
				Client Secret<br/>
				<input type="text" id="manualClientSecret" name="manualClientSecret" class="form-control"/>
			</div>
			<div>
				Resource:<br />
				<select id="manualResource" name="manualResource" class="form-control">
					<option selected="selected" value="https://outlook.office365.com/">Outlook</option>
					<option value="https://@tenant-my.sharepoint.com/">OneDrive for Business</option>
				</select>
			</div>
			<div>
				<input type="hidden" id="tokenUrl" name="tokenUrl" value="@tokenUrl"/>
				<input type="hidden" id="redirectUri" name="redirectUri" value="@redirectUri"/>
				<input type="submit" id="webCallButton" name="webCallButton" class=" btn btn-primary" value="Get Access Token!"/>
			</div>
		</div>
	}
</div>
